.nav{
    /* border: 2px solid green; */
    display: flex; 
 }
 
 .oasisimage{
     margin-left: 40px;
     /* border: 2px solid yellow; */
     width: 30%;
 }
 
 .initiative{
     font-size: 9px;
     margin-left: 40px;
     letter-spacing: 0.72em;
     margin-top: -5px;
 }
 
 
 .container1{
     width: 70%;
     /* border: 2px solid black; */
     display: flex;
     justify-content: space-around;
     align-items: center;
 }
 
 .item1{
     font-family: 'Inter', sans-serif;
     color: #111111;
     font-weight: 400;
     font-size: 13px;    
 }
 
 #donate{
     background-color: #EB4600;
     color: white;
     padding:12px 40px;
     border-radius: 8px;
 }
 
 .burger{
     display: none;
 }



.middlechild{
    width: 100%;
}

 .middlechild1{
    width:60%;
    margin: 0 auto;
    /* border: 2px solid yellow; */
    display: flex;
 }

 .left{
    width: 70%;
    /* border: 2px solid green; */
 }


 .right{
    border-radius: 220px;
    height: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content:space-around;
    /* border: 2px solid red; */
    margin-bottom: 20px;
    /* padding: 100px auto; */
    margin-left: 100px;
    width: 30%;
}

.process{
    text-align: center;
    color: #000;
    font-size: 16px;
    font-family:'Inter', sans-serif;
    font-weight:400;
    letter-spacing: 0.08px;
    opacity: 0.800000011920929;
}

.support1{
    color: #00084A;
    font-size: 44px;
    font-family:Helvetica;
    font-weight: 700;
    letter-spacing: -2.2px;
    text-align: center;
}

.support2{
    color: #00084A;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.8px;
    /* text-align: center; */
    
}


.support3{
    color: #000;
    font-size: 16px;
    font-family:'Inter', sans-serif;
    letter-spacing: 0.08px;
    opacity: 0.800000011920929;
    margin-bottom: 20px;
}


.Volunteer1{
    color: #00084A;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.8px;

}

.Volunteer2{
    color: #000;
    font-size: 16px;
    font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.08px;
    opacity: 0.800000011920929;
}












 .middlechild2{
    width:60%;
    margin: 0 auto;
    /* border: 2px solid yellow; */
    width: 60%;
 }

 .tag{
    color: #6E7075;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.input1{
    width: 99%;
    height: 40px;
    border-radius: 10px;
}

.submit{
    color: white;
    background-color:  #EB4600;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0px;
    margin-top: 30px;
    width: 30%;
    margin-left: 70%;
    border-radius: 10px;
}

.helo{
    margin-top: -30px;
}

.whatsapplink{
    display: flex; 
 }


 .whatsapp1{
    color: #00084A;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1.8px;
    margin-top: 43px;

 }






 

 .middlechild3{
    width: 60%;
    margin: 0 auto;
    /* border: 2px solid yellow; */
    display: flex;

 }


.donate{
    color: #00084A;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.8px;
    text-align: center;
    padding-top: 60px;
    margin-right: 220px;
    margin-bottom: 20px;
    
    
    
}

.submit2{
    color:  #EB4600;
    border: 4px solid #EB4600;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0px;
    margin-top: 30px;
    width: 30%;
    border-radius: 10px;
    display: flex;
    width: 200px;
    height: 30px;
    padding: 12px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;

}

.delete{
    display: none;
}







 


.footer{
    display: flex;
    
}

.updiv3{
    background-color:#010422;
    /* width: 100%; */
    /* border: 10px solid green; */
}

.lists{
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    /* width: 100%; */

}

.the{
    color: rgba(255, 255, 255, 0.81);
    padding-top: 50px;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-size:12px;
    /* border: 2px solid wheat; */
  }

.oasisimage2{
    margin-left: -25px;
    color: white;
    /* height: -900px; */
    margin-top: -50px;
}


.note{
    color: white;
    margin-top: 45px;
    font-family: 'Inter', sans-serif; 
}

.icons2{
    color: white;
    font-size: px;
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    /* margin-left: -20%; */
}

.h0{
    color: white;
    font-size: 20px;
    font-family:Helvetica;
    font-weight: 700;
    letter-spacing: -0.05em;
}

.h1{
    color: #6E7075;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 30px;
}

.h2{
    color:  #FF4D00;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.h3{
    color: #6E7075;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.h4{
    color: #6E7075;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.h5{
    color: #6E7075;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 20px;
}

.below{
    /* border-top: 2px solid white; */
    margin-left: 130px;
    margin-right: 130px ;
}

.white{
    color: white;
    margin-left: -5px;
}


.subdiv3left{
    width: 55%;
    /* border: 2px solid wheat; */
    
}
.subdiv3leftpikin{
    /* width: 70%; */
    /* border: 2px solid red; */
    width: 60%;
    margin: -5px auto;
}
.subdiv3right{
    width: 45%;
    /* border: 2px solid gray; */
    display: flex;
    justify-content: space-around;
}

.oasisimage{
    margin-left: 40px;
    /* border: 2px solid yellow; */
    width: 30%;
}

.oasisimage2{
    margin-left: -25px;
    color: white;
    height: -900px;
    margin-top: -50px;
}

.initiative{
    font-size: 9px;
    margin-left: 40px;
    letter-spacing: 0.72em;
    margin-top: -5px;
}

.rightmedia{
    display: none;
}




@media only screen and (max-width: 600px) {
    .nav{
        display: flex;
        justify-content: space-evenly;
    }

    .oasisimage{
        margin-left: 5%;
    }
 
    .container1{
        display: none;
        margin-left: -200px;
    }

    .burger{
        display: flex;
        margin-right: 1%;
        margin-left: 220px;
        padding-top: 10px;
    }

}



@media only screen and (max-width: 600px) {
    .middle{
        /* display: none; */
        width: 100%;

    }
    .delete{
        display: block;
    }


    .contact{
        color: #00084A;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: -1.8px;
        text-align: center;
    }
    .form{
        color: #000;
        text-align: center;
        font-size: 16px;
        font-family: Inter;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0.08px;
    }

    .submit{
        width: 30%;
        margin: 0 auto;
        padding: 15px 30px;
        margin-top: 20px;
    }

    .donate{
        color: #00084A;
        text-align: center;
        /* TOI Heading 24px */
        font-size: 24px;
        font-family: Helvetica;
        font-style: normal;
        font-weight: 700;
        line-height: 125.5%;
        letter-spacing: -1.2px;
        margin: 0 auto;
        
        
    }

    .updiv3{
        width: 100%;
    }

    .helo{
        margin-top: 20px;
    }


    .right{
        display: none;
    
    }

    .rightmedia{
        display: block;
        border-radius: 220px;
        height: 200px;
        flex-shrink: 0;
        display: flex;
        justify-content:space-around;
        /* border: 2px solid red; */
        margin-bottom: 20px;
        /* padding: 100px auto; */
        margin-left: 70px;
        width: 30%;

    }

    .middle{
        text-align: center;
    }

    .left{
        margin-left: 40px;
    }




    .adults{
        margin-right: 70px;
    }

}










@media screen and (max-width: 600px) {
    .footer{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .subdiv3left{
        width: 100%;
        font-size: 1.1rem;
        font-weight: 2em;
      
    }
    .subdiv3right{
        width: 100%;
    }

    .white{
        display: none;
    }
}




    
